{% extends 'commi/base.html' %}

{% block content %} 

  {% load i18n %}

  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <a href="{% url 'book' %}" class="btn btn-lg btn-bd-primary d-flex align-items-center justify-content-center fw-semibold">
      Reserva ahora!
    </a>
  </div>

  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <!--<h5 class="border-bottom pb-2 mb-0">Calendario de reservas</h5>-->

    {% for element in all_dates_list %}

    <div class="d-flex text-body-secondary pt-3">
      {% if element.reserved == True %}
        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="64" height="64" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#ff0000"/>
          <text x="50%" y="20%" fill="#ffffff" dy=".3em" class="heavy">
            {% language 'es-es' %}{{element.date|date:"l"|upper|slice:"0:3" }} {% endlanguage %}
          </text>          
          <text x="50%" y="50%" fill="#ffffff" dy=".3em" class="heavy">
            {% language 'es-es' %}{{element.date|date:"d" }} {{element.date|date:"M"|upper }} {% endlanguage %}
          </text>
          <text x="50%" y="80%" fill="#ffffff" dy=".3em" class="heavy">
            {{element.date|date:"Y" }}
          </text>            
        </svg>
        <p class="pb-3 mb-0 lh-sm border-bottom">
          <!--<strong class="d-block text-gray-dark">@{{element.booking.user}}</strong>-->
          Estado: <strong>{{element.booking.status}}</strong>.<br>
          Reserva: <strong>{{element.booking.small_id}}</strong>.<br> 
          Recurso: <strong>{{element.booking.schedule.resource}}</strong>.<br>
          Hor.:<strong>{{element.booking.schedule.slot}}</strong><br>
        </p>
      {% elif element.reserved == False %}
        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="64" height="64" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#008000"/>
          <text x="50%" y="20%" fill="#ffffff" dy=".3em" class="heavy">
            {% language 'es-es' %}{{element.date|date:"l"|upper|slice:"0:3" }} {% endlanguage %}
          </text>          
          <text x="50%" y="50%" fill="#ffffff" dy=".3em" class="heavy">
            {% language 'es-es' %}{{element.date|date:"d" }} {{element.date|date:"M"|upper }} {% endlanguage %}
          </text>
          <text x="50%" y="80%" fill="#ffffff" dy=".3em" class="heavy">
            {{element.date|date:"Y" }}
          </text>          
        </svg>
        <p class="pb-3 mb-0 lh-sm border-bottom">
          Estado: <strong>DISPONIBLE</strong>.<br>
          Reserva: <strong>{{element.booking.small_id}}</strong><br> 
          Recurso: <strong>{{element.booking.schedule.resource}}</strong><br>
          Hor.:<strong>{{element.booking.schedule.slot}}</strong><br>
        </p>          
      {% else %}
        <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="64" height="64" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#ffff00"/>
          <text x="50%" y="20%" fill="#ffffff" dy=".3em" class="heavy">
            {% language 'es-es' %}{{element.date|date:"l"|upper|slice:"0:3" }} {% endlanguage %}
          </text>          
          <text x="50%" y="50%" fill="#ffffff" dy=".3em" class="heavy">
            {% language 'es-es' %}{{element.date|date:"d" }} {{element.date|date:"M"|upper }} {% endlanguage %}
          </text>
          <text x="50%" y="80%" fill="#ffffff" dy=".3em" class="heavy">
            {{element.date|date:"Y" }}
          </text>        
        </svg>
        <p class="pb-3 mb-0 lh-sm border-bottom">
          <!--<strong class="d-block text-gray-dark">@{{element.booking.user}}</strong>-->
          Estado: <strong>DISPONIBLE</strong>.<br>
          Reserva: <strong>{{element.booking.small_id}}</strong><br> 
          Recurso: <strong>{{element.booking.schedule.resource}}</strong><br>
          Hor.:<strong>{{element.booking.schedule.slot}}</strong><br>
        </p>        
      {% endif %}
    </div>

    {% endfor %}

  </div>

  {% endblock %}