{% extends 'commi/base.html' %}

{% block content %} 

<main>
    
      <div class="my-3 p-3 bg-body rounded shadow-sm">
    
        <form action="{% url 'book' %}" method="post">
            {% csrf_token %}
            <div class="col-12">
                <label for="username" class="form-label">Nombre de usuario:</label>
                <div class="input-group has-validation">
                  <span class="input-group-text">@</span>
                  <input type="text" class="form-control" id="username" name="username" placeholder="{{ user.get_username }}" value="{{ user.get_username }}" required>
                  <div class="invalid-feedback">
                    Es necesario tu usuario.
                  </div>
                </div>
              </div>
              <br>
 
              <div class="col-md-5">
                <label for="country" class="form-label">Fecha:</label>
                <select class="form-select" id="date" name="date" required>
                  {% for date in date_list%}
                    {% if date|date:"Y-m-d" == selected_date %}
                      <option value="{{date|date:'Y-m-d'}}" selected = "selected">{{date|date:"Y-m-d"}}</option>
                    {% else %}
                      <option value="{{date|date:'Y-m-d'}}">{{date|date:"Y-m-d"}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
                <div class="invalid-feedback">
                  Por favor, selecciona una Fecha.
                </div>
              </div>
              <br>              

              <div class="col-md-5">
                <label for="country" class="form-label">Recurso:</label>
                <select class="form-select" id="resource" name="resource" required>
                  <option value="{{ selected_resource_id }}">{{ selected_resource }}</option>
                </select>
                <div class="invalid-feedback">
                  Por favor, selecciona un Recurso.
                </div>
              </div>
              <br>

              <div class="col-md-4">
                <label for="state" class="form-label">Horario</label>
                <select class="form-select" id="schedule" name="schedule" required>
                  <option value="TODO EL DIA">TODO EL DIA</option>
                  <option value="MANANA">TURNO DE MAÑANA</option>
                  <option value="TARDE">TURNO DE TARDE</option>
                </select>
                <div class="invalid-feedback">
                  Por favor, selecciona un Horario.
                </div>
              </div>
              <br>

              <div class="col-md-3">
                <label for="zip" class="form-label">Comentarios</label>
                <input type="text" class="form-control" id="comments" name="comments" placeholder="">
              </div>
            </div>
  
            <hr class="my-4">
  
            <button class="w-100 btn btn-primary btn-lg" type="submit" value="Submit">Reserva ya!</button>
          </form>
    
      </div>

  </main>

  {% endblock %}  